body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #7ebfbf;
    background: linear-gradient(90deg, #7ebfbf 0%, #3394de 80%);
    background: -webkit-linear-gradient(90deg, #7ebfbf 0%, #3394de 80%);
    background: -moz-linear-gradient(90deg, #7ebfbf 0%, #3394de 80%);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
